{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>首页</title>
    <link href="{% static 'css/courses/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/courses/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'css/courses/style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" href="index.html">学习辅导平台</p>
            </div>
        </div>
    </div>

    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="#">首页</a></li>
                            <li><a href="">学习中心</a></li>
                            <li><a href="forum">问答论坛</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">全部课程</h4>
                </div>
            </div>
           <div class="row">
               <!--open里面放点击下载连接-->
                {% for course in courses %}
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="dashboard-div-wrapper {{ course.color }}"style="cursor: pointer;"onclick="window.open('http://www.baidu.com')">
                            <i  class="fa fa-edit dashboard-div-icon" ></i>
                            <h4>{{ course.name }}</h4>
                        </div>
                    </div>
                {% endfor %}

           </div>
        </div>
    </div>
</body>
</html>


