{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <![endif]-->
        <title>学习中心</title>
{#        <link href="assets/css/bootstrap.css" rel="stylesheet" />#}
        <link href="../static/css/learningcenter/bootstrap.css" rel="stylesheet" />
{#        <link href="assets/css/font-awesome.css" rel="stylesheet" />#}
         <link href="../static/css/learningcenter/font-awesome.css" rel="stylesheet" />
{#        <link href="assets/css/style.css" rel="stylesheet" />#}
        <link href="../static/css/learningcenter/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="navbar navbar-inverse set-radius-zero">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand" href="index.html">学习辅导平台</p>
                </div>
            </div>
        </div>

        <section class="menu-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-collapse collapse ">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <li><a >首页</a></li>
                                <li><a class="menu-top-active">学习中心</a></li>
                                <li><a >问答论坛</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="page-head-line">已下载课程</h4>
                    </div>
                </div>
            <div class="row">
                <!--open里面放点击下载连接-->
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="dashboard-div-wrapper bk-clr-one"style="cursor: pointer;"onclick="window.open('http://www.baidu.com')">
                            <i  class="fa fa-edit dashboard-div-icon" ></i>
                            <h4>课程1</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="dashboard-div-wrapper bk-clr-two"style="cursor: pointer;"onclick="window.open('http://www.baidu.com')">
                            <i  class="fa fa-edit dashboard-div-icon" ></i>
                            <h4>课程2</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="dashboard-div-wrapper bk-clr-three"style="cursor: pointer;"onclick="window.open('http://www.baidu.com')">
                            <i  class="fa fa-edit dashboard-div-icon" ></i>
                            <h4>课程3</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="dashboard-div-wrapper bk-clr-four"style="cursor: pointer;"onclick="window.open('http://www.baidu.com')">
                            <i  class="fa fa-edit dashboard-div-icon" ></i>
                            <h4>课程3</h4>
                        </div>
                    </div>
            </div>
            </div>
        </div>
{#        <script src="assets/js/jquery-1.11.1.js"></script>#}
{#        <script src="assets/js/bootstrap.js"></script>#}
        <script src="../static/js/learningcenter/jquery-1.11.1.js"></script>
        <script src="../static/js/learningcenter/bootstrap.js"></script>
    </body>
</html>


